body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.header  {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}
button{
    
}
.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

small.error {
    color: red;
    display: none;
    font-size: 14px;
}

small#resultMessage {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    color: green;
}
